<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - К Констръкшън</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="icon" href="~/Images/logo.gif" />

    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">*@
    
    @RenderSection("links", required: false)

    <style type="text/css">
        body, [class="navbar navbar-fixed-top"] {
            background-image: url("/Images/white_pattern.jpg");
            background-repeat: repeat;
        }

        #mainNavigationBar {
            height: 150px;
        }

        div[class="navbar navbar-inverse navbar-fixed-top"],
        .navbar-inverse {
            background-color: none !important;
        }

        a[class="navbar-brand"] {
            font-size: 2em;
            color: black;
        }

        ul[class="nav navbar-nav"] a {
            color: black;
            padding: 20px 14px 0;
            border-top: 6px solid transparent;
            border-bottom: 0 none;
            -webkit-transition: border-top-color .5s;
            -moz-transition: border-top-color .5s;
            -o-transition: border-top-color .5s;
            transition: border-top-color .5s;
        }

            ul[class="nav navbar-nav"] a:hover, ul[class="nav navbar-nav"] a.active {
                position: relative;
                border-top: 6px solid #f14f50 !important;
                border-left: 1px solid #e7e7e7;
                border-right: 1px solid #e7e7e7;
                border-bottom: 0 none;
                background-color: transparent;
            }

        #main {
            background-color: white;
        }

        footer {
            border-top: 3px solid red;
            background-color: #f14f50;
            height: 200px;
        }

            footer * {
                color: white;
                text-align: center;
            }

            footer p#footerCopyright {
                margin-top: 20px;
                font-size: 1.1em;
            }

            footer hr {
                width: 90%;
            }

            footer i {
                margin-right: 7px;
            }

        input, textarea {
            width: 100%;
        }

        .navbar-header a.navbar-brand {
            /*height: 150px;*/
        }

        #main {
            margin-top: 100px;
        }
    </style>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div id="mainNavigationBar" class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">
                    <img src="~/Images/logo.gif" alt="logo" />
                </a>
            </div>
            <div class="navbar-collapse collapse pull-right">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Начало", "Index", "Home")</li>
                    <li>@Html.ActionLink("Услуги", "Index", "Services")</li>
                    <li>@Html.ActionLink("Галерия", "Index", "Testimonials")</li>
                    <li>@Html.ActionLink("За нас", "About", "Home")</li>
                    <li>@Html.ActionLink("Контакти", "Index", "Contact")</li>
                </ul>
            </div>
        </div>
    </div>
    <div id="main" class="container body-content">
        @RenderBody()
        <footer class="footer">
            <hr />
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <i class="glyphicon glyphicon-home"></i>
                        <span>бул. „Евлоги и Христо Георгиеви“ 97</span><br />
                        <span>1142 Център, София</span>
                    </div>
                    <div class="col-md-4">
                        <a href="https://goo.gl/maps/dFg146KCVqu" target="_blank" class="btn btn-danger"><i class="glyphicon glyphicon-map-marker"></i> Преглед на адреса в Google Maps</a>
                    </div>
                    <div class="col-md-4">
                        <i class="glyphicon glyphicon-earphone"></i> +3598********
                    </div>
                </div>
            </div>
            <p id="footerCopyright">&copy; @DateTime.Now.Year - К Констръкшън</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
        var currentPath = window.location.href.substring(window.location.href.lastIndexOf("/") + 1);

        switch (currentPath) {
            case "About":
                currentPath = "Home/" + currentPath;
                break;
            case "Contact":
                currentPath = "Home/" + currentPath;
                break;
        };
        $('#mainNavigationBar ul li a[href="/' + currentPath + '"]').addClass("active");
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
