<div class="navbar navbar-fixed-top">
    <div id="mainNavigationBar" class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img src="~/Images/logo.gif" alt="logo" />
            </a>
        </div>
        <div class="navbar-collapse collapse pull-right">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Начало", "Index", "Home")</li>
                <li>@Html.ActionLink("Услуги", "Index", "Services")</li>
                <li>@Html.ActionLink("Галерия", "Index", "Testimonials")</li>
                <li>@Html.ActionLink("За нас", "About", "Home")</li>
                <li>@Html.ActionLink("Контакти", "Index", "Contact")</li>
            </ul>
        </div>
    </div>
</div>
